.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.white-block {
	position: absolute;
	height: 40px;
	width: 60%;
	background-color: #fff;
}
.white-block-left {
	bottom: 0;
	left: -50px;
	transform: skew(45deg);
}
.white-block-right {
	top: 0;
	right: -50px;
	transform: skew(45deg);
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;
}
.btn-special-animation::before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
	z-index: -1;
}
.btn-special-animation:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

.logo-img {
	position: absolute;
	top: 2px;
	left: 9px;
	padding: 0.5em;
	width: 110px;
	height: 110px;
	z-index: 100;
}

.logo_footer-img {
	position: absolute;
	bottom: 90px;
	left: 40px;
}

.user_play {
	position: absolute;
	left: 9.5em;
	top: 2.5em;
	font-size: 1.8rem;
	color: #fff;
	/* border-radius: 8px; */
	z-index: 100;
}

.fa-chevron-up {
	display: none;
	position: absolute;
	bottom: 100px;
	right: 40px;
	width: 40px;
	height: 40px;
	padding: 0.5em;
	font-size: 4rem;
	color: #e708e7d7;
	border-radius: 50%;
	transition: color 0.3s, bottom 0.3s;
	z-index: 1000;
}

.fa-chevron-up:hover {
	color: rgba(253, 67, 253, 0.842);
	border-color: rgba(253, 67, 253, 0.842);
	cursor: pointer;
	bottom: 82px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Arial', serif;
}

.player_btn-set {
	position: absolute;
	top: 15px;
	left: 110px;
	color: #fff;
	font-size: 4rem;
	padding: 0.5em;
	cursor: pointer;
	transition: display 0.3s;
	z-index: 10;
}

.fa-circle-pause {
	display: none;
	left: 110px;
	position: absolute;
}

.burger-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;
}
.burger-btn:focus {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
	width: 100%;
}
.burger-btn__box {
	position: relative;
	width: 40px;
	height: 30px;
}
.burger-btn__bars,
.burger-btn__bars::after,
.burger-btn__bars::before {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: #fff;
	transition: width 0.3s;
}
.burger-btn__bars {
	width: 100%;
}
.burger-btn__bars::after {
	top: 13px;
	width: 60%;
}
.burger-btn__bars::before {
	top: 27px;
	width: 30%;
	transition-delay: 0.3s;
}

/* ******************************** */
/* NAV */
/* ******************************** */
.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(200%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: rgba(133, 1, 133, 0.842);
	z-index: 100;
}
.nav--active {
	transform: translateX(0);
}
.nav__item {
	position: relative;
	display: block;
	font-family: 'Playwrite CU', cursive;
	margin: 0.5em 0;
	padding: 0.5em 2em;
	font-size: 2rem;
	color: #fff;
	text-decoration: none;
}
.nav__item::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 100%;
	transform: scaleY(0);
	background-color: #fff;
	transition: transform 0.3s;
	content: '';
}
.nav__item:hover::before {
	transform: scaleY(1);
}

@keyframes navItemAnimation {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
.nav-items-animation {
	animation: navItemAnimation 1s both;
}

/* ******************************** */
/* HEADER */
/* ******************************** */
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 60vh;
	width: 100%;
	text-align: center;
	color: #fff;
	background-image: url('../img/gradient.png');
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	overflow: hidden;
}
.header iframe {
	margin-bottom: 20px;
}
.header__heading {
	font-family: 'Playwrite CU', cursive;
	font-size: 4rem;
	margin-bottom: 20px;
}
.header__text {
	font-size: 2.8rem;
	margin-top: 20px;
}
.header__btn {
	margin-top: 2em;
	width: 100%;
	max-width: 200px;
	padding: 1em 1.2em;
	background: #fff;
	border: none;
	border-radius: 8px;
	color: #2e2e2e;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
}
.header__btn::before {
	background-color: #eee;
}

.section-heading {
	position: relative;
	margin-bottom: 2em;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	color: rgba(133, 1, 133, 0.842);
	letter-spacing: 2px;
}

.section-padding {
	padding: 6em 2em;
}

/* ******************************** */
/* PRESENTERS */
/* ******************************** */
.presenters__box {
	display: flex;
	flex-direction: column;
	margin: 2em 0;
}
.presenters__img {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}
.presenters__title {
	margin-bottom: 0.5em;
}
.presenters__text {
	font-size: 1.4rem;
}

/* ******************************** */
/* HERO IMG */
/* ******************************** */
.hero-img {
	position: relative;
	padding: 20em 2em;
	background-image: url('../img/purple_640.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.hero-img__title {
	font-family: 'Playwrite CU', cursive;
	margin-bottom: 0.5em;
	font-size: 4rem;
}
.hero-img__text {
	padding: 1em 0;
	font-size: 1.8rem;
}
.hero-img .white-block-left {
	background-color: #2e2e2e;
}

/* ******************************** */
/* CONTACT */
/* ******************************** */
.contact {
	position: relative;
	background-color: #eee;
	overflow: hidden;
}

.contact .white-block-left {
	background: #2e2e2e;
}

.contact__form,
.contact__form-top {
	display: flex;
	flex-direction: column;
	margin-bottom: 4em;
}

.contact__form-label {
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.contact__form-input,
.contact__form-label-textarea {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
}

.contact__form-label-textarea {
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	min-height: 150px;
}

.contact__form-btn {
	align-self: flex-end;
	padding: 1em;
	width: 100%;
	max-width: 300px;
	border: none;
	border-radius: 8px;
	color: #fff;
	background-color: rgba(133, 1, 133, 0.842);
	letter-spacing: 2px;
	cursor: pointer;
}

.contact__form-btn::before {
	background-color: rgba(248, 24, 248, 0.842);
}

/* ******************************** */
/* FOOTER */
/* ******************************** */
.footer {
	position: relative;
	color: #fff;
	background-color: #2e2e2e;
	overflow: hidden;
}
.footer .wrapper {
	padding: 6em 2em 2em;
}
.footer__box {
	font-size: 1.4rem;
}
.footer__box-desktop {
	display: none;
}
.footer__box-title {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
}
.footer__box-social {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 2em 2em;
}
.footer__box-link {
	font-size: 3.6rem;
	color: #fff;
	text-decoration: none;
	transition: color 0.3s;
}

.footer__box li > a {
	transition: color 0.3s;
}

.footer__box li > a:hover {
	color: rgba(248, 24, 248, 0.842);
}

.footer__box-link:first-child {
	padding-left: 0;
}
.footer__box-link:hover {
	color: rgba(231, 8, 231, 0.842);
}
.footer__bottom-text {
	padding: 1em;
	text-align: center;
	font-size: 2rem;
}

.footer__box-zaiks {
	margin-top: 4em;
	text-align: right;
}

.footer__box-title-zaiks {
	font-size: 2rem;
	font-weight: 300;
}

.footer__box-zaiks p {
	font-size: 2.4rem;
	margin-right: 2em;
	padding-bottom: 3em;
	font-family: 'Concert One', sans-serif;
	text-transform: uppercase;
}

.footer__logo-box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
}

/* ******************************** */
/* MEDIA */
/* ******************************** */
@media (min-width: 576px) {
	.header__btn {
		margin-left: 6em;
	}
	.logo-img {
		width: 140px;
		height: 140px;
		top: -0.5em;
		left: 2em;
	}

	.player_btn-set {
		left: 145px;
	}
	.fa-circle-pause {
		left: 145px;
	}
	.presenters__box {
		flex-direction: row;
		justify-content: space-between;
	}
	.presenters__box-text {
		width: 55%;
	}
	.presenters__box-text--right {
		text-align: right;
	}
	.presenters__box-img {
		width: 40%;
	}
	.presenters__box-img--right {
		order: 1;
	}
	.presenters__img {
		margin-bottom: 0;
		max-height: 300px;
	}
	.footer__bottom-text {
		padding: 2em;
	}

	.user_play {
		width: 250px;
		left: 11.5em;
	}

	.logo_footer-img {
		right: 40px;
		bottom: 130px;
	}

	.fa-chevron-up {
		bottom: 140px;
	}

	.fa-chevron-up:hover {
		bottom: 122px;
	}
}
@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 45%;
	}

	.nav__item {
		font-size: 2.5rem;
	}
	.header__heading {
		font-size: 6.6rem;
	}
	.header__text {
		font-size: 2.2rem;
	}
	.header__btn {
		margin-left: 12em;
		max-width: 300px;
		font-size: 1.4rem;
	}
	.presenters__text {
		font-size: 1.8rem;
	}
	.hero-img {
		padding: 25rem 2em;
		background-image: url('../img/purple_1280.jpg');
	}
	.hero-img hr {
		margin: 0 auto;
		width: 70%;
	}
	.hero-img__text {
		font-size: 2.2rem;
	}
	.footer__boxes {
		display: flex;
		justify-content: space-between;
	}
	.footer__box-desktop {
		display: block;
	}
	.footer__box {
		margin: 0 2em;
		width: 25%;
	}
	.footer__box-title {
		width: 100%;
		font-size: 2.4rem;
	}
	.footer__box-list {
		display: flex;
		flex-direction: column;
		list-style: none;
	}
	.footer__box-list-item {
		margin-bottom: 1em;
	}
	.footer__box-list-item a {
		color: #eee;
		text-decoration: none;
	}

	.footer__box-zaiks {
		text-align: left;
	}

	.logo_footer-img {
		/* right: 40px; */
		left: 69%;
		bottom: 130px;
	}

	.section-heading {
		font-size: 3.6rem;
	}
	.section-padding {
		padding: 8em 2em;
	}
}
@media (min-width: 992px) {
	.header-btn {
		top: 50px;
		right: 50px;
	}
	.header {
		height: 95vh;
	}
	.header__heading {
		font-size: 10rem;
	}
	.nav__item {
		font-size: 3rem;
	}
	.presenters__box {
		margin: 5em 0;
	}
	.presenters__box-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 2.5em;
	}
	.presenters__title {
		font-size: 3.6rem;
	}
	.presenters__text {
		font-size: 2.2rem;
	}
	.hero-img {
		padding: 35rem 2em;
		background-image: url('../img/purple_1920.jpg');
	}
	.hero-img__title {
		font-size: 7.2rem;
	}
	.hero-img hr {
		width: 60%;
		max-width: 900px;
	}
	.section-heading {
		font-size: 4.8rem;
	}
	.section-padding {
		padding: 10em 2em;
	}
}
/*# sourceMappingURL=main.css.map */
