.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.wrapper_footer {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
}

.white-block {
	position: absolute;
	height: 40px;
	width: 60%;
	background-color: ghostwhite;
}
.white-block-left {
	bottom: 0;
	left: -50px;
	transform: skew(45deg);
}
.white-block-right {
	top: 0;
	right: -50px;
	transform: skew(45deg);
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;
}
.btn-special-animation::before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
	z-index: -1;
}
.btn-special-animation:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

.logo-img {
	position: absolute;
	top: 2px;
	left: 9px;
	padding: 0.5em;
	width: 110px;
	height: 110px;
	z-index: 100;
}

.logo_footer-img {
	position: absolute;
	bottom: 6px;
	left: 0;
}

.user_play {
	position: absolute;
	left: 9.5em;
	top: 2.3em;
	font-size: 1.8rem;
	font-weight: 600;
	color: #fff;
	/* border-radius: 8px; */
	z-index: 100;
}

.fa-angles-up {
	position: absolute;
	bottom: 50px;
	right: 13px;
	width: 40px;
	height: 40px;
	font-size: 4rem;
	color: #e708e7d7;
	transition: color 0.3s, bottom 0.3s;
	z-index: 1000;
}

.fa-angles-up:hover {
	color: rgba(253, 67, 253, 0.842);
	border-color: rgba(253, 67, 253, 0.842);
	cursor: pointer;
	bottom: 52px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

.player_btn-set {
	position: absolute;
	top: 15px;
	left: 110px;
	color: #fff;
	font-size: 4rem;
	padding: 0.5em;
	cursor: pointer;
	transition: display 0.3s;
	z-index: 10;
}

.player_btn-set:hover,
.fa-circle-pause:hover {
	color: rgb(210, 162, 255);
}

.fa-circle-pause {
	display: none;
	left: 110px;
	position: absolute;
}

.burger-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;
}
.burger-btn:focus {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
	width: 100%;
}
.burger-btn__box {
	position: relative;
	width: 40px;
	height: 30px;
}
.burger-btn__bars,
.burger-btn__bars::after,
.burger-btn__bars::before {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: #fff;
	transition: width 0.3s;
}
.burger-btn__bars {
	width: 100%;
}
.burger-btn__bars::after {
	top: 13px;
	width: 60%;
}
.burger-btn__bars::before {
	top: 27px;
	width: 30%;
	transition-delay: 0.3s;
}

/* APK */
.apk__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 9em;
	right: 2.5em;
	transition: color 0.3s;
	z-index: 100;
}

.apk__box-btn {
	background: transparent;
	border: none;
	font-size: 1.8rem;
	cursor: pointer;
}

.apk__box .fa-android {
	color: #eee;
	transition: color 0.3s;
}

.apk__box .fa-android:hover {
	color: rgb(255, 0, 255);
}

.apk__box .fa-android:visited {
	color: #eee;
}

.apk__box p {
	font-size: 1.4rem;
	letter-spacing: 2px;
	color: #eee;
}

/* ******************************** */
/* NAV */
/* ******************************** */
.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(200%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: rgba(133, 1, 133, 0.842);
	z-index: 100;
}
.nav--active {
	transform: translateX(0);
}
.nav__item {
	position: relative;
	display: block;
	font-family: 'Playwrite CU', cursive;
	margin: 0.5em 0;
	padding: 0.5em 2em;
	font-size: 2rem;
	color: #fff;
	text-decoration: none;
}
.nav__item::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 100%;
	transform: scaleY(0);
	background-color: #fff;
	transition: transform 0.3s;
	content: '';
}
.nav__item:hover::before {
	transform: scaleY(1);
}

@keyframes navItemAnimation {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
.nav-items-animation {
	animation: navItemAnimation 1s both;
}

/* ******************************** */
/* HEADER */
/* ******************************** */
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 60vh;
	width: 100%;
	text-align: center;
	color: #fff;
	background-image: url('../img/gradient.png');
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	overflow: hidden;
}
.header iframe {
	margin-bottom: 20px;
}
.header__heading {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-family: 'Playwrite CU', cursive;
	font-size: 4rem;
	margin-top: 1em;
}
/* .header__text {
	font-size: 2.8rem;
	margin-top: 20px;
} */
/* .header__btn {
	margin-top: 2em;
	width: 100%;
	max-width: 200px;
	padding: 1em 1.2em;
	background: #fff;
	border: none;
	border-radius: 8px;
	color: rgba(231, 8, 231, 0.842);
	font-family: 'Playwrite CU', cursive;
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
	text-decoration: uppercase;
	letter-spacing: 6px;
	cursor: pointer;
} */
.header__arrow-down {
	margin-top: 3.5em;
	font-size: 3rem;
	padding: 0.5em;
	animation: moveDown 2s infinite;
	cursor: pointer;
}
.arrow-down-link {
	color: #fff;
	transition: color 0.3s;
}
.arrow-down-link:hover {
	color: rgb(255, 0, 255);
}
.header__medias {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* flex-direction: column; */
	width: 100%;
	position: relative;
	top: 20em;
}

.header__medias-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .header__medias-box:hover a{
	color: rgb(255, 0, 255);
} */

.header__medias-box p {
	font-size: 1.6rem;
	letter-spacing: 2px;
}

.header__medias-btn {
	/* width: 100%; */
	/* padding: 0.5em 0.5em 0 0.5em; */
	font-size: 1.8rem;
	background: transparent;
	border: none;
	color: #eee;
	cursor: pointer;
}
.header__medias-btn:hover a {
	color: rgb(255, 0, 255);
}
.header__medias-btn a {
	color: #fff;
	transition: color 0.3s;
}

/* .header__medias-btn:hover a {
	color: rgb(255, 0, 255);
} */
.header__btn::before {
	background-color: #eee;
}

.section-heading {
	position: relative;
	margin-bottom: 1em;
	font-size: 3rem;
	font-weight: 600;
	font-family: 'Playwrite CU', cursive;
	/*text-transform: uppercase;*/
	text-align: center;
	color: rgba(231, 8, 231, 0.842);
	letter-spacing: 2px;
}

.section-padding {
	padding: 6em 2em;
}

/* ******************************** */
/* PRESENTERS */
/* ******************************** */
.presenters {
	background-color: ghostwhite;
}
.presenters__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2em 0;
	position: relative;
}

.presenters__box-text > .presenters__title {
	display: none;
}
.presenters__img {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}
.presenters__title {
	/* margin-bottom: -1.5em; */
	font-size: 3rem;
	text-align: center;
	font-family: 'Playwrite CU', cursive;
	color: rgba(133, 1, 133, 0.842);
	/*rgba(231, 8, 231, 0.842);*/
}
.presenters__text {
	font-size: 1.4rem;
}

.presenters__title-days {
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 20px;
	font-family: 'Playwrite CU', cursive;
	color: rgba(133, 1, 133, 0.842);
}

.presenters__btn-days {
	position: relative;
	background: transparent;
	border: 1px solid purple;
	border-radius: 8px;
	padding: 10px 40px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(133, 1, 133, 0.842);
	transition: background-color 0.3s;
	cursor: pointer;
	overflow: hidden;
}

.presenters__box-days {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6em 2em;
	width: 80%;
	border-radius: 8px;
	background-color: rgba(187, 24, 252, 0.76);
	color: #eee;
	position: absolute;
	top: 30em;
	left: 0;
	transition: transform 0.3s;
	transform: translateX(-200%);
	z-index: 999;
}

.presenters__box-days .fa-x {
	position: absolute;
	top: 1em;
	right: 1em;
	padding: 0.5em;
	font-size: 1.8rem;
	cursor: pointer;
}

.presenters__box-link {
	position: relative;
	list-style-type: none;
	width: 100%;
	font-size: 3rem;
	margin-bottom: 0.5em;
	font-family: 'Playwrite CU', cursive;
	animation: navItemAnimation 1s both;
	cursor: pointer;
}

.presenters__box-link--active {
	transform: translateX(0);
}

.presenters__box-link::before {
	position: absolute;
	top: 0;
	left: -35px;
	width: 3px;
	height: 100%;
	transform: scaleY(0);
	background-color: #fff;
	transition: transform 0.3s;
	content: '';
}

.presenters__box-link:hover::before {
	transform: scaleY(1);
}

.daysHolder {
	padding: 0 0.5em;
}

.pon,
.wt,
.sr,
.czw,
.pt,
.sob,
.nied {
	display: none;
	width: 400px;
	height: 200px;
	margin-bottom: 0.5em;
	padding: 1em;
	color: #eee;
	background-color: #222;
	transition: display 0.3s;
}

.box--active {
	display: block;
}

/* LISTA DNI */
.dropholder {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 322px;
	height: 60px;
	margin: 40px auto;
	padding: 0 0 0 20px;
	border-radius: 10px;
	font: 18px arial;
	color: #fff;
	position: relative;
	box-sizing: border-box;
	border: 1px solid #9b0db9;
	animation: move 3s ease-in-out infinite;
	position: relative;
	z-index: 5000;
}
.dropholder:hover,
.dropholder:hover:after {
	animation-play-state: paused;
}
.dropholder:after {
	content: '';
	position: absolute;
	width: 250px;
	height: 5px;
	background: rgba(0, 0, 0, 0);
	display: block;
	top: 100px;
	left: 37px;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
	animation: moveShadow 3s ease-in-out infinite;
}

.dropdown > p {
	font-size: 16px;
	margin-right: 60px;
	text-align: center;
	/* margin-left: 10px; */
}
.dropdown,
.dropholder {
	background: linear-gradient(#da4df8, #9b0db9);
}
.dropdown {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
	width: 208px;
	padding: 0 0 0 20px;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
	height: 58px;
	border-left: 1px solid #da4df8;
	position: relative;
}
.dropdown:hover {
	background: linear-gradient(#da4df8, #b11cd0);
}
.dropdown:after {
	content: '▾';
	font-size: 18px;
	position: absolute;
	right: 20px;
	top: 18px;
	display: block;
}

.menu {
	position: absolute;
	right: 0;
	top: 60px;
	width: 213px;
	transform-style: preserve-3d;
	transform: rotatey(180deg) rotateX(5deg) translatey(100px);
	backface-visibility: hidden;
	background: purple;
	border: 2px solid purple;
	border-radius: 8px;
	transition: all 0.8s;
	opacity: 0;
	overflow: hidden;
	cursor: pointer;
	z-index: 5000;
}
.menu li {
	padding: 10px 10px;
	border-bottom: 1px dotted #fff;
	color: #e8f8ff;
	transition: all 0.3s;
}
.menu li:hover {
	background: rgba(231, 8, 231, 0.842);
	padding-left: 20px;
}
.menu li:last-child {
	border: none;
}

.showMenu {
	opacity: 1;
	transform: rotateX(0deg) translatey(0px);
}
li > i {
	float: left;
	padding-top: 3px;
	padding-right: 8px;
}
p > i {
	position: relative;
	top: 2px;
}
i {
	opacity: 0.7;
}
@keyframes move {
	0%,
	100% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(0);
	}
}

@keyframes moveShadow {
	0%,
	100% {
		transform: translateY(10px);
		opacity: 0.4;
	}
	50% {
		transform: translateY(0);
		opacity: 1;
	}
}

/* ******************************** */
/* HERO IMG */
/* ******************************** */
.hero-img {
	position: relative;
	padding: 20em 2em;
	background-image: url('../img/purple_640.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.hero-img__title {
	font-family: 'Playwrite CU', cursive;
	margin-bottom: 0.5em;
	font-size: 4rem;
}
.hero-img__text {
	padding: 1em 0;
	font-size: 1.8rem;
}
.hero-img .white-block-left {
	background-color: #2e2e2e;
}

/* ******************************** */
/* CONTACT */
/* ******************************** */
.contact {
	position: relative;
	background-color: #eee;
	overflow: hidden;
}

.contact .white-block-left {
	background: #2e2e2e;
}

.contact__form,
.contact__form-top {
	display: flex;
	flex-direction: column;
	margin-bottom: 4em;
}

.contact__form-label {
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.contact__form-input,
.contact__form-label-textarea {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
}

.contact__form-label-textarea {
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	min-height: 150px;
}

.contact__form-btn {
	align-self: flex-end;
	padding: 1em;
	width: 100%;
	max-width: 300px;
	border: none;
	border-radius: 8px;
	color: #fff;
	background-color: rgba(133, 1, 133, 0.842);
	letter-spacing: 2px;
	cursor: pointer;
}

.contact__form-btn::before {
	background-color: rgba(248, 24, 248, 0.842);
}

/* ******************************** */
/* FOOTER */
/* ******************************** */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #fff;
	background-color: #2e2e2e;
	overflow: hidden;
}
.footer .wrapper {
	padding: 6em 2em 2em;
}
.footer__box {
	font-size: 1.4rem;
}
.footer__box-desktop {
	display: none;
}
.footer__box-title {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(231, 8, 231, 0.842);
	margin-bottom: 0.5em;
	margin-top: 0.75em;
}
.footer__box-social {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 2em 2em;
}
.footer__box-link {
	font-size: 3.6rem;
	color: #fff;
	text-decoration: none;
	transition: color 0.3s;
}

.footer__box li > a {
	transition: color 0.3s;
}

.footer__box li > a:hover {
	color: rgba(248, 24, 248, 0.842);
}

.footer__box-link:first-child {
	padding-left: 0;
}
.footer__box-link:hover {
	color: rgba(231, 8, 231, 0.842);
}
.footer__bottom-text {
	padding: 2em;
	text-align: center;
	font-size: 2rem;
}

.footer__box-zaiks {
	position: relative;
	/* margin-top: 4em; */
	text-align: right;
}

.footer__box-title-zaiks {
	font-size: 2rem;
	font-weight: 300;
	color: rgba(231, 8, 231, 0.842);
	font-weight: bold;
}

.footer__box-zaiks p {
	font-size: 1.8rem;
	margin-right: 2.8em;
	padding-bottom: 3em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.footer__logo-box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
}

.lillie {
	color: pink;
}

.eric {
	color: lightblue;
}

/* ******************************** */
/* MEDIA */
/* ******************************** */
@media (min-width: 576px) {
	.header__btn {
		margin-left: 6em;
	}

	.header__arrow-down {
		margin-top: 3.5em;
	}

	.header__heading {
		margin-top: 0;
	}

	.header__medias {
		top: 15em;
	}

	.header__medias-btn {
		margin: 0.5em;
	}
	.logo-img {
		width: 140px;
		height: 140px;
		top: -1em;
		left: 2em;
	}

	.player_btn-set {
		left: 145px;
	}
	.fa-circle-pause {
		left: 145px;
	}
	.presenters__box {
		flex-direction: row;
		justify-content: space-around;
	}
	.presenters__box-text {
		width: 55%;
	}
	.presenters__box-text > .presenters__title {
		display: block;
	}
	.presenters__box-text--right {
		text-align: right;
	}
	.presenters__title {
		margin-top: 2em;
	}
	.presenters__box-img {
		width: 40%;
	}

	.presenters__box-img > .presenters__title {
		display: none;
	}
	.presenters__box-img--right {
		order: 1;
	}
	.presenters__img {
		margin-bottom: 0;
		max-height: 300px;
	}
	.footer__bottom-text {
		padding: 2em;
	}

	.user_play {
		width: 250px;
		left: 11.5em;
	}

	.logo_footer-img {
		bottom: 6px;
	}

	.footer .wrapper {
		max-width: 700px;
	}
}
@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 45%;
	}

	.nav__item {
		font-size: 2.5rem;
	}
	.header__heading {
		font-size: 6.6rem;
		/* margin-top: 1.8em; */
		margin-bottom: 2em;
		margin-top: 0;
	}

	.header__medias {
		top: 22em;
	}

	.header__arrow-down {
		margin-top: -1.5em;
	}
	.header__text {
		font-size: 2.2rem;
	}
	.header__btn {
		margin-left: 12em;
		max-width: 300px;
		font-size: 1.4rem;
	}

	/* .header__medias {
		top: 11em;
	}
	.header__medias-btn {
		font-size: 3rem;
	} */
	.presenters__text {
		font-size: 1.8rem;
	}
	.presenters__title {
		margin-top: 2.5em;
	}
	.presenters__box-text {
		margin-bottom: 12.5em;
	}
	.hero-img {
		padding: 25rem 2em;
		background-image: url('../img/purple_1280.jpg');
	}
	.hero-img hr {
		margin: 0 auto;
		width: 70%;
	}
	.hero-img__text {
		font-size: 2.2rem;
	}
	.footer__boxes {
		display: flex;
		/* justify-content: space-between; */
	}
	.footer__box-desktop {
		display: block;
	}
	/* .footer__box {
		width: 25%;
	} */

	.middle {
		margin-left: -10em;
	}

	.footer__box-title {
		width: 100%;
	}
	.footer__box-list {
		display: flex;
		flex-direction: column;
		list-style: none;
	}
	.footer__box-list-item {
		margin-bottom: 1em;
	}
	.footer__box-list-item a {
		color: #eee;
		text-decoration: none;
	}

	.footer__box-zaiks {
		text-align: left;
	}

	.footer__box-first {
		width: 25%;
	}
	.footer__box-second {
		width: 25%;
		margin-left: 3em;
	}

	.footer__box-third {
		width: 25%;
		margin-left: 7em;
	}

	.fa-angles-up {
		right: 40px;
	}

	.logo_footer-img {
		/* right: 40px; */
		left: 54.5%;
		bottom: 6px;
	}

	.section-heading {
		font-size: 3.6rem;
	}
	.section-padding {
		padding: 8em 2em;
	}
}
@media (min-width: 992px) {
	.header-btn {
		top: 50px;
		right: 50px;
	}
	.header {
		height: 95vh;
	}
	.header__heading {
		font-size: 10rem;
		margin-top: 0.5em;
		margin-bottom: 0;
		top: -1.8em;
	}

	.header__arrow-down {
		margin-top: 0;
		font-size: 4rem;
	}
	.header__medias {
		top: 22em;
	}
	.header__medias-btn {
		font-size: 4rem;
	}
	.nav__item {
		font-size: 3rem;
	}
	.apk__box .fa-android {
		font-size: 3rem;
	}

	.apk__box p {
		font-size: 1.4rem;
		letter-spacing: 2px;
		color: #eee;
	}
	.presenters__box {
		margin: 5em 0;
	}
	.presenters__box-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 18.5em;
	}
	.presenters__title {
		font-size: 3.6rem;
		margin-top: 3.5em;
	}
	.presenters__text {
		font-size: 2.2rem;
	}
	.hero-img {
		padding: 25rem 2em;
		background-image: url('../img/purple_1920.jpg');
	}
	.hero-img__title {
		font-size: 7.2rem;
	}
	.hero-img hr {
		width: 70%;
		max-width: 900px;
	}
	.section-heading {
		font-size: 4.8rem;
	}
	.section-padding {
		padding: 10em 2em;
	}

	.logo_footer-img {
		left: 100%;
		bottom: 102px;
	}

	.footer__box-title {
		font-size: 2.4rem;
	}

	.footer .wrapper {
		max-width: 1000px;
	}

	/* .footer hr {
		width: 100%;
	} */
}

/* KEYFRAMES */
@keyframes moveDown {
	0% {
		transform: translateY(0);
	}

	20% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-30px);
	}

	50% {
		transform: translateY(0);
	}

	60% {
		transform: translateY(-15px);
	}

	80% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(0);
	}
}

/* AUTUMN */
i.snowflake {
	position: absolute;
	top: -50px;
	animation: snow linear;
	z-index: 999;
}

@keyframes snow {
	to {
		transform: translateY(65vh);
	}
}
/*# sourceMappingURL=main.css.map */
