.player-container {
	position: absolute;
	top: 16px;
	left: 109px;
	z-index: 2147483647;
	padding: 25px;
	border-radius: 50%;
	transition: background 0.4s ease;
	pointer-events: none;
}
.play-btn {
	width: 32px;
	height: 32px;
	background: #f9f9f95e;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	pointer-events: auto;
}
.play-btn:hover {
	background-color: fff;
}
.play-btn::before {
	content: '▶';
	font-size: 16px;
	color: #fff;
	margin-left: 2px;
}
.play-btn.playing::before {
	content: '⏸';
	font-size: 16px;
	margin-left: 0;
}

.volume-container {
	position: absolute;
	bottom: -45px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	pointer-events: auto;
}

@media (min-width: 480px) {
	.player-container {
		top: 20px;
		left: 114px;
		padding: 20px;
	}
	.play-btn {
		width: 30px;
		height: 30px;
	}
	.play-btn::before {
		font-size: 15px;
	}
	.volume {
		width: 90px;
	}
}

@media (min-width: 576px) {
	.player-container {
		top: 21px;
		left: 156px;
	}

}

@media (min-width: 768px) {
	.player-container {
		top: 21px;
		left: 154px;
	}
		
	.player-container:hover .volume-container {
		opacity: 1;
		visibility: visible;
	}

}
