$main-color: #1755e7;
$secondary-color: #164dcc;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;
$purple: rgba(133, 1, 133, 0.842);
$purple-light: rgba(133, 1, 133, 0.842);

$light-blue-gradient: linear-gradient(45deg, rgba(8, 189, 235, 0.74), rgba(8, 23, 231, 0.74));
$blue-gradient: linear-gradient(45deg, rgba(19, 96, 219, 0.75), rgba(37, 8, 163, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(168, 10, 189, 0.75), rgba(60, 1, 224, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgb(17, 89, 204), rgb(36, 9, 156));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(1, 65, 214) 0%, rgb(0, 179, 214) 100%);
$purple-gradient-second: linear-gradient(101.8deg, rgb(27, 27, 214) -15%, rgb(223, 17, 171) 88%);
